@mixin mq($breakpoint) {

	$mq-tiny: '(max-width: 21em)'; // 0 -> 336px (with base of 16px)
	$mq-xs: '(max-width: 47.5em)'; // 0 -> 767px (with base of 16px)
	$mq-from-vsmall: '(min-width: 28.5em)'; // 456px -> ... (with base of 16px)
	$mq-from-sm: '(min-width: 35.5em)'; // 568px -> ... (with base of 16px)
	$mq-from-md: '(min-width: 56.25em)'; // 900px -> ... (with base of 16px)
	$mq-from-lg: '(min-width: 75em)'; // 1200px -> ... (with base of 16px)

	$mq-vsmall-sm: '(min-width: 28.5em) and (max-width: 47.5em)'; // 456px -> 768px (with base of 16px)
	$mq-xs-sm: '(min-width: 35.5em) and (max-width: 47.5em)'; // 568px -> 768 (with base of 16px)

	$mq-sm-only: '(min-width: 48em) and (max-width: 61.5em)'; // 768px -> 991px (with base of 16px)
	$mq-md-only: '(min-width: 62em) and (max-width: 74.5em)'; // 992px -> 1199px (with base of 16px)


	@if $breakpoint == tiny {
		@media #{$mq-tiny} {
			@content;
		}
	}

	@if $breakpoint == xs {
		@media #{$mq-xs} {
			@content;
		}
	}

	@else if $breakpoint == xs-sm {
		@media #{$mq-xs-sm} {
			@content;
		}
	}

	@else if $breakpoint == vsm-sm {
		@media #{$mq-vsmall-sm} {
			@content;
		}
	}

	@else if $breakpoint == from-vsm {
		@media #{$mq-from-vsmall} {
			@content;
		}
	}

	@else if $breakpoint == from-sm {
		@media #{$mq-from-sm} {
			@content;
		}
	}

	@else if $breakpoint == from-md {
		@media #{$mq-from-md} {
			@content;
		}
	}

	@else if $breakpoint == sm {
		@media #{$mq-sm-only} {
			@content;
		}
	}

	@else if $breakpoint == md {
		@media #{$mq-md-only} {
			@content;
		}
	}

	@else if $breakpoint == lg {
		@media #{$mq-from-lg} {
			@content;
		}
	}
}