

.text-input:active,.text-input:focus,textarea:active,textarea:focus {
	cursor: text;
	outline: none;
}


header {
	border-bottom: 1px solid black;
	box-shadow: 0 3px 0 rgba(70,70,70,0.1);
	position: fixed;
	width: 100%;
	background-color: white;
	z-index: 2;
}

.tools {
	margin-top: 0.7em;
}


.overlay {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(255,255,255,0.7);
	z-index: 1;
}



.card__value:focus {
	border-style: dashed;
}

.btn--pdf-open {
	display: none;
}

.icon {
	width: 10px;
	height: 10px;
	background-color: #D1D2C4;
	display: block;
	float: left;
	margin-right: 5px;
}

.icon--link {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

.card__icons {
	position: absolute;
	bottom: 10px;
}





