*,*:before,*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,blockquote,pre,dl,dd,ol,ul,form,fieldset,legend,table,th,td,caption,hr {
	margin: 0;
	padding: 0;
}

abbr[title],dfn[title] {
	cursor: help;
}

a,u,ins {
	text-decoration: none;
}

ins {
	border-bottom: 1px solid;
}

img {
	font-style: italic;
}

label,input,textarea,button,select,option {
	cursor: pointer;
}

.text-input:active,.text-input:focus,textarea:active,textarea:focus {
	cursor: text;
	outline: none;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.cf:before,.cf:after {
	content: "";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	zoom: 1;
}

.hidden {
	display: none;
}

.show {
	display: block !important;
}

.mb {
	margin-bottom: 15px;
}

body {
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	background-color: #efefef;
}

header {
	border-bottom: 1px solid black;
	box-shadow: 0 3px 0 rgba(70,70,70,0.1);
	position: fixed;
	width: 100%;
	background-color: white;
	z-index: 2;
}

.tools {
	margin-top: 0.7em;
}

.header__bottom {
	border-top: 1px dashed #e1e1e1;
	padding: 20px 0;
}

.header__bottom .fl,.header__bottom .fr {
	width: 50%;
}

.header__bottom .fl {
	padding-right: 30px;
}

.key__item span {
	margin-top: 0.3em;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(255,255,255,0.7);
	z-index: 1;
}

.loading {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	z-index: 1;
}

.close {
	position: relative;
	float: right;
	margin-right: 15px;
	z-index: 2;
}

.brand {
	max-width: 1370px;
	padding: 15px 0;
	position: absolute;
	top: 129px;
	bottom: 70px;
	left: 70px;
	right: 70px;
	background-color: #fff;
	border: 1px solid black;
	box-shadow: 0 3px 0 rgba(70,70,70,0.1);
	overflow-y: auto;
	margin: 0 auto;
}

.brand__details {
	width: 30%;
	float: left;
	padding: 0 15px;
}

.brand__details span {
	display: block;
}

.brand__guidelines {
	position: absolute;
	text-align: center;
	top: 15px;
	bottom: 15px;
	overflow: hidden;
	width: 70%;
	margin-left: 30%;
	padding: 0 15px;
	border-left: 1px dashed #e1e1e1;
}

.brand__guidelines h3 {
	margin-bottom: 15px;
	text-align: left;
}

.brand__guidelines iframe {
	height: 100% !important;
	z-index: 2;
	position: relative;
	padding-bottom: 35px;
}

.no-guides {
	top: 50%;
	position: absolute;
	width: 100%;
	margin-top: -1em;
}

footer {
	margin: 20px 0;
	text-align: center;
}

.main {
	padding-top: 78px;
}

.auto-marg {
/*	max-width: 1450px;
	margin: 0 auto;
	padding: 0 40px;*/
}

.cardgroup ul {
	margin-left: -51px;
}

.swatch--large {
	width: 100%;
	padding-bottom: 100%;
	height: 0;
}

/*.card--sml .card__swatch:before {
	content: 'open guide';
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	margin-top: -0.5em;
	display: none;
}*/


/*.card__swatch {
	display: block;
	width: 100%;
	padding-bottom: 100%;
	height: 0;
	position: relative;
}*/

/*.card__value {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: black;
	text-align: right;
	width: 100%;
	padding: 0.7em 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}*/

.card__value:focus {
	border-style: dashed;
}

.btn--pdf-open {
	display: none;
}

.icon {
	width: 10px;
	height: 10px;
	background-color: #D1D2C4;
	display: block;
	float: left;
	margin-right: 5px;
}

.icon--link {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

.card__icons {
	position: absolute;
	bottom: 10px;
}

body {
	font-family: 'KoushikiSans-L';
	font-size: 14px;
	line-height: 1.5em;
}

a {
	color: black;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

.btn,.logo,.sharebox a {
	text-decoration: none;
}

.btn:hover,.logo:hover,.sharebox a:hover {
	text-decoration: underline;
}

p {
	margin-bottom: 15px;
	line-height: 1.7em;
}

p:last-child {
	margin-bottom: 0;
}

.small {
	font-size: 0.9em;
}

.logo {
	text-transform: uppercase;
	font-size: 1.2em;
	line-height: 3.5em;
}

.card {
	list-style: none;
}

/*.card__swatch {
	text-align: center;
	color: transparent;
}*/

/*.card__swatch:hover {
	color: white;
	text-decoration: none;
}*/

/*.card__swatch[style="background-color:#ffffff"] {
	border: 1px solid #999;
}*/

/*.card__swatch[style="background-color:#ffffff"]:hover {
	color: black;
}

.twitter-follow-button {
	margin-bottom: -4px;
}

.sharebox {
	display: inline-block;
	margin-bottom: 15px;
}

.share {
	color: white;
}

.box a {
	height: 27px;
	line-height: 27px;
	display: inline-block;
	padding: 0 6px;
}

.count {
	float: right;
}

.follow {
	background-color: #33CCFF;
	color: white;
	padding: 2px 4px;
}

.share--twitter .share {
	background-color: #33CCFF;
}

.share--facebook .share {
	background-color: #3B5998;
}

.share--google .share {
	background-color: #DD4B39;
}*/

input[type="text"] {
	-webkit-appearance: none;
	border-radius: 0;
	margin: 0;
}

input:focus {
	outline: 0;
}

.search {
	border: 1px solid #e1e1e1;
	font-family: 'KoushikiSans-L';
	font-size: 1.2em;
	padding: 0.5em 0.5em 0.3em 2.2em;
	background-image: url("../ui/search.svg");
	-webkit-background-size: 1.2em;
	-moz-background-size: 1.2em;
	-o-background-size: 1.2em;
	background-size: 1.2em;
	background-position: 0.5em center;
	background-repeat: no-repeat;
	margin: 0;
	border-radius: 0;
	width: 100%;
}

.search:focus {
	border: 1px solid black;
}

.colour-value {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: black;
	text-align: right;
	width: 100%;
	padding: 0.7em 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.colour-value:focus {
	border-style: dashed;
}

.btn {
	border: 1px solid black;
	display: block;
	text-align: center;
}

.btn:hover {
	text-decoration: none;
	color: lightgrey;
}

.btn--lrg {
	padding: 0.6em 0.5em 0.35em;
	font-size: 1em;
}

.btn--med {
	padding: 0.3em;
	font-size: 0.9em;
}

.btn--fixed {
	width: 4em;
}

.form--single-line .btn {
	float: right;
	margin-left: 15px;
}

.form--single-line .form--single-line__input {
	overflow: hidden;
}

.form--single-line .form--single-line__input .text-input {
	width: 100%;
}

@media screen and (max-width: 1450px) {
	.auto-marg {
		max-width: 1247px;
	}
}

@media screen and (max-width: 1247px) {
	.auto-marg {
		max-width: 1044px;
	}
}

@media screen and (max-width: 1044px) {
	.auto-marg {
		max-width: 841px;
	}
}

@media screen and (max-width: 841px) {
	.auto-marg {
		max-width: 638px;
	}

	.main {
		padding-top: 140px;
	}

	.logo {
		width: 100%;
		text-align: center;
	}

	.tools {
		width: 100%;
		padding-bottom: 20px;
		margin-top: 0;
	}

	.info-toggle {
		width: 2em;
		padding-left: 0;
		padding-right: 0;
	}

	.header__bottom .fl,.header__bottom .fr {
		width: 100%;
	}

	.header__bottom .fl {
		margin-bottom: 10px;
		border-bottom: 1px dashed #e1e1e1;
		padding-bottom: 10px;
	}

	.brand {
		overflow-y: scroll;
		top: 185px;
		padding: 15px;
	}

	.brand__guidelines {
		left: 0;
		top: 0;
		margin-left: 0;
		width: 100%;
		position: relative;
		border-left: none;
		padding: 0;
	}

	.brand__details {
		padding: 0;
		width: 100%;
		float: none;
		padding-bottom: 15px;
		border-bottom: 1px dashed #e1e1e1;
		margin-bottom: 15px;
	}

	.no-guides {
		position: relative;
		margin-top: 0;
	}

	.card--lrg .card__swatch {
		padding-bottom: 20%;
	}
}

@media screen and (max-width: 638px) {
	.auto-marg {
		max-width: 100%;
		padding: 0 10px;
	}

	.cardgroup ul {
		margin-left: 0;
	}

	.card {
		width: 100%;
	}

	.card__swatch {
		padding-bottom: 30%;
	}

	.card--sml {
		margin-left: 0;
	}

	.card--sml .card__value {
		width: 100%;
	}

	.btn--pdf-open {
		display: block;
	}

	.brand {
		top: 130px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		border-width: 1px 0 0 0;
	}

	.brand iframe {
		display: none;
	}
}
