// BASE COLOURS
$white: #fefefe;
$black: #3a3a3a;

$grey--v-lt: #F7F7F7; // (247,247,247)
$grey--lt: #efefef; // (239,239,239)
$grey--mid: #cccccc; // (204,204,204)
$grey--dk: #a3a3a3; // (163,163,163)
$grey--v-dk: #737373; // (115,115,115)

$sectionGrey: #f9f9f9;
$sectionGreyDk: #d1d1d1;

$red: #e40046;

